selfsigned.crt
selfsigned.key
*migrations*
*pycache*
volumes*
db.s*
*sqlite*
*.log
.vscode
*Snapshots*
*coverage*
*html*
.DS_Store
*coverage*
*node_modules*
*TestUser*
frontend/node_modules/
node_modules/
dist/
bin/
lib/
celery-beat-schedule*
celerybeat-schedule*
django-selfsigned*
cookies*
frontend/.env
usermanagement/profile_pictures/*
!usermanagement/profile_pictures/*.*
.exec_run_npm
.migration_done